
<div class="mt-3">
    <div class="row justify-content-center">
        <div class="text-center">
            <div class="card">
                <div class="card-body" onmouseout="this.classList.remove('bg-light')" onmouseover="this.classList.add('bg-light')">
                    <a onclick="window.location='{{include.url}}'" 
                    class="btn stretched-link font-weight-bold"
                    style="text-decoration: none !important; border-bottom: none !important; color: #0a60af !important;"
                    >
                        <i class="fa-brands fa-python"></i>
                        {{include.button_name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
 </div>